<div>
  <script type="application/ld+json"> 
  { 
  	"@context": "https://schema.org", 
    "@type": "Organization", 
    "name": "HKBasics", 
    "url": "https://hk-basic.myshopify.com/", 
    "logo": "https://cdn.shopify.com/s/files/1/0534/4532/9074/files/hk-basics-logo_250x.png?v=1614160686", 
    "contactPoint": { "@type": "ContactPoint", "telephone": "+91 9319160088", "contactType": "customer service" }
  }
  </script>
  <script type="application/ld+json"> { "@context": "https://schema.org", "@type": "LocalBusiness", "name": "HKBasics", "image": "https://cdn.shopify.com/s/files/1/0534/4532/9074/files/banner-img-mob_2000x2000.png?v=1614575626", "@id": "", "url": "https://hk-basic.myshopify.com/", "telephone": "+91 9319160088", "priceRange": "299 - 2999"} </script>
</div>