@charset 'UTF-8';

/**
 * [replace with theme name] | Built with Slate
 */
@import '~normalize.css/normalize';
@import '~@elkfox/shopify-theme/styles/form-reset.scss';

// Settings
@import './variables';

// Tools
@import '~sass-library/mixins/prefix.scss';
@import '~sass-library/mixins/media-query.scss';
@import '~sass-library/mixins/container.scss';
@import '~sass-library/mixins/transitions.scss';
@import '~sass-library/mixins/visibility.scss';

// Core
@import '~@elkfox/shopify-theme/styles/media.scss';
@import '~@elkfox/shopify-theme/styles/rte.scss';
@import './core/helpers';
@import './core/layout';
@import './core/forms';
@import './core/responsive-tables';
@import './core/typography';

// Components
@import './components/icons';
@import './components/address-forms';
@import './components/pagination';

// Sections
@import './sections/header';
@import './sections/footer';

// Templates
@import './templates/index';
@import './templates/collection';
@import './templates/product';
@import './templates/page';
@import './templates/cart';
@import './templates/gift_card';


/*================ Type Css ================*/
/*================ Header Section ================*/
/*================ Footer Section ================*/
/*================ Product Section ================*/
body {
	font-family: 'Rubik', sans-serif !important;
}
.position-relative {
	position: relative;
}
a {
	&:hover {
		text-decoration: none !important;
	}
}
.d-none {
	display: none !important;
}
.d-block {
	display: block !important;
}
.form-message--success {
	background-color: #daf5de;
}
.m-auto {
	margin-left: auto !important;
	margin-right: auto !important;
}
.btn.active {
	box-shadow: none !important;
}
.btn {
	&:active {
		box-shadow: none !important;
	}
}
.header-section {
	background: #FFFFFF;
	box-shadow: 0px 4px 71px rgba(0, 0, 0, 0.1);
	.header {
		padding: 23.5px 15px;
		display: flex;
		align-items: center;
	}
	.hamburger {
		background: #FFF;
		border-radius: 28px;
		padding: 10px 13px;
		margin-right: 21px;
		display: inline-block;
		width: 46px;
		vertical-align: middle;
		text-align: center;
		cursor: pointer;
		transition: 0.4s all ease-in;
		i {
			color: #687582;
			font-size: 24px;
		}
	}
	.header-right-logo {
		display: flex;
		width: 50%;
		justify-content: flex-end;
		align-items: center;
		margin-right: 10px;
	}
	.header-left-logo {
		display: flex;
		width: 50%;
		align-items: center;
	}
	img.search {
		width: 30px;
		height: 30px;
		object-fit: contain;
		margin-left: 20px;
		cursor: pointer;
	}
	img.cart {
		width: 30px;
		height: 30px;
		object-fit: contain;
		margin-left: 20px;
		cursor: pointer;
	}
	img.user {
		width: 30px;
		height: 30px;
		object-fit: contain;
		margin-left: 20px;
		cursor: pointer;
	}
	.menu-list {
		background: #FFFFFF;
		box-shadow: 0px 4px 71px rgba(0, 0, 0, 0.1);
		border-radius: 0px 0px 24px 24px;
		padding: 30px 50px !important;
		position: absolute;
		top: 102px;
		left: 0;
		right: 0;
		z-index: 4;
		cursor: pointer;
		ul {
			display: flex;
			flex-wrap: wrap;
			li {
				list-style-type: none;
				width: 50%;
				margin-bottom: 40px;
				text-align: left;
				a {
					font-size: 16px;
					line-height: 16px;
					letter-spacing: 2.5px;
					text-transform: uppercase;
					color: #687582 !important;
					list-style-type: none;
					cursor: pointer;
					svg {
						display: none;
					}
				}
			}
		}
		a.link {
			font-weight: 500;
			font-size: 18px;
			line-height: 27px;
			letter-spacing: 0.1px;
			color: #07A5B5;
			margin-bottom: 40px;
			cursor: pointer;
			span {
				font-size: 14px;
				margin-left: 20px;
			}
		}
		a.close {
			font-weight: 400;
			font-size: 16px;
			line-height: 20px;
			letter-spacing: 0.2px;
			color: #687582;
			opacity: 1;
			cursor: pointer;
			span {
				font-size: 14px;
				margin-right: 10px;
				cursor: pointer;
			}
		}
	}
	.menu-links {
		display: flex;
		justify-content: center;
		align-items: baseline;
		justify-content: space-between;
	}
	.submenu {
		display: flex;
		li.child-menu {
			width: auto;
			margin-bottom: 0;
			a {
				font-weight: 500;
				font-size: 20px;
				line-height: 48px;
				display: flex;
				align-items: center;
				text-align: center;
				letter-spacing: 0.2px;
				color: #3E454C !important;
				text-transform: capitalize;
				margin-right: 30px;
				cursor: pointer;
				position: relative;
				text-decoration: none;
				&:after {
					background: none repeat scroll 0 0 transparent;
					bottom: 0;
					content: "";
					display: block;
					height: 2px;
					left: 50%;
					bottom: 7px;
					position: absolute;
					background: #3E454C;
					transition: width 0.3s ease 0s, left 0.3s ease 0s;
					width: 0;
				}
				&:hover {
					&:after {
						width: 100%;
						left: 0;
					}
				}
			}
		}
	}
	.user-account {
		position: absolute;
		top: 40px;
		right: 0;
		background: white;
		width: 174px;
		box-shadow: 0px 4px 71px rgba(0, 0, 0, 0.1);
		li {
			list-style-type: none;
			padding: 8px 20px;
			a {
				font-size: 16px;
				letter-spacing: 0.2px;
				color: #3E454C !important;
			}
		}
	}
	.account-links {
		position: relative;
	}
	.menu-list-mobile {
		box-shadow: none;
	}
	.serach-title {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.search-popup {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		background: #ffffff;
		color: #777777;
		display: block;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);
		height: 150px;
		z-index: 99;
		padding: 40px;
		-webkit-transform: translate(0, -100%);
		-ms-transform: translate(0, -100%);
		transform: translate(0, -100%);
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
		visibility: hidden;
		transition: all 0.2s linear;
		-ms-transition: all 0.2s linear;
		-webkit-transition: all 0.2s linear;
	}
	.search-popup.active {
		visibility: visible;
		-webkit-transform: translate(0, 0);
		-ms-transform: translate(0, 0);
		transform: translate(0, 0);
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	.search-label {
		font-size: 14px;
		font-weight: 300;
		line-height: 21px;
		color: #3E454C;
	}
	#Search {
		background: transparent;
		font-size: 18px;
		font-weight: 500;
		border: none;
		border-bottom: 1px solid #eceaea;
		padding: 11px 12px 10px 0px;
		font-family: 'Rubik', sans-serif;
		box-shadow: none;
		outline: none;
		width: 100%;
		color: #3E454C;
		border-radius: 0;
	}
	.search-form-button {
		color: #3E454C;
		font-size: 30px;
		line-height: 1;
		position: absolute;
		cursor: pointer;
		bottom: 8px;
		padding: 4px 0 4px 4px;
		right: 0px;
		z-index: 3;
		background: none;
		border: none;
		-moz-transition: color 0.2s linear;
		-o-transition: color 0.2s linear;
		-webkit-transition: color 0.2s linear;
		transition: color 0.2s linear;
	}
	.form-close-icon {
		font-size: 16px;
		padding: 0 10px;
		cursor: pointer;
	}
}
.search-button {
	background: transparent;
	border: 0;
	outline: 0;
	padding: 12px 0;
	&:focus {
		background: transparent;
		border: 0;
		outline: 0;
		padding: 12px 0;
	}
	&:hover {
		background: transparent;
	}
	img.search {
		margin-left: 0;
	}
}
.cart-count {
	position: absolute;
	right: -10px;
	top: -6px;
	background: #FF5F7A;
	border-radius: 28px;
	span {
		font-size: 12px;
		line-height: 14px;
		color: #FFFFFF;
		padding: 7px;
	}
}
footer {
	.logo-section {
		display: flex;
		align-items: center;
		margin-bottom: 40px;
	}
	.tag-line {
		font-style: italic;
		font-weight: 100;
		font-size: 45px;
		line-height: 65px;
		letter-spacing: 0.2px;
		color: #687582 !important;
		margin-left: 100px;
		margin-bottom: 0;
	}
	.site-footer__item {
		&:nth-child(1) {
			.h4 {
				display: none;
			}
			max-width: 175px;
			margin-bottom: 16px;
		}
		&:nth-child(2) {
			.h4 {
				display: none;
			}
			max-width: 175px;
			margin-bottom: 16px;
		}
		&:nth-child(3) {
			.h4 {
				display: none;
			}
			max-width: 300px;
		}
		&:first-of-type {
			margin-bottom: 0;
		}
	}
	.site-footer__linklist {
		display: flex;
		flex-direction: column;
	}
	li.site-footer__linklist-item {
		list-style-type: none;
		margin-bottom: 33px;
	}
	.site-footer__linklist-item {
		a {
			font-weight: 500;
			font-size: 18px;
			line-height: 27px;
			letter-spacing: 0.1px;
			color: #3E454C !important;
			white-space: nowrap;
			position: relative;
			&:after {
				background: none repeat scroll 0 0 transparent;
				content: "";
				display: block;
				height: 2px;
				left: 50%;
				bottom: -4px;
				position: absolute;
				background: #3E454C;
				transition: width 0.3s ease 0s, left 0.3s ease 0s;
				width: 0;
			}
			&:hover {
				&:after {
					width: 100%;
					left: 0;
					border-bottom: 0;
				}
				border-bottom: 0;
			}
		}
	}
	.site-footer-item-align-center {
		text-align: center;
		margin-bottom: 50px;
	}
	.site-footer__copyright-content {
		font-size: 16px;
		line-height: 20px;
		text-align: center;
		letter-spacing: 0.2px;
		color: #3E454C;
		a {
			&:hover {
				color: #3E454C;
				border-bottom: 0;
			}
		}
	}
	.disclaimer {
		font-size: 18px;
		line-height: 27px;
		letter-spacing: 0.2px;
		color: #3E454C;
		font-weight: 400;
	}
	.site-footer__item-inner--newsletter {
		.h4 {
			font-weight: 500;
			font-size: 22px;
			line-height: 28px;
			letter-spacing: 0.1px;
			color: #3E454C;
			margin-bottom: 20px;
		}
		.input-group {
			display: flex;
			align-items: center;
		}
		.newsletter__input {
			background: #FFFFFF;
			border: 1px solid #D0D0D0;
			box-sizing: border-box;
			border-radius: 26px 0px 0px 26px;
			padding: 15px 28px;
			&:focus {
				outline: 0;
			}
		}
		.newsletter__submit {
			background: #07A5B5;
			box-shadow: 0px 4px 71px rgba(0, 0, 0, 0.1);
			border-radius: 0px 26px 26px 0px;
			padding: 14px 36px;
			font-weight: bold;
			font-size: 13px;
			line-height: 16px;
			letter-spacing: 2.5px;
			text-transform: uppercase;
			color: #FFFFFF;
			transition: all 0.4s ease-in;
			min-height: 46px;
			margin-top: 5px !important;
			&:hover {
				border: 1px solid #07A5B5;
			}
		}
	}
	.site-footer__item-inner {
		.site-footer__item-inner--text {
			padding: 0 50px;
		}
	}
	.site-footer__rte {
		p {
			font-size: 15px;
			line-height: 24px;
			letter-spacing: 0.2px;
			color: #3E454C;
			text-decoration: none;
			border: 0;
			margin-bottom: 3px;
		}
		a {
			font-size: 15px;
			line-height: 24px;
			letter-spacing: 0.2px;
			color: #3E454C;
			text-decoration: none;
			border: 0;
			margin-bottom: 3px;
		}
	}
	.site-footer-item-tall {
		.site-footer__icon-list {
			display: flex;
			align-items: end;
			li {
				list-style-type: none;
				text-align: center;
				padding-left: 0;
				padding-right: 32px;
			}
		}
	}
	.tag-line-mobile {
		display: none;
	}
	.social-icons {
		.icon {
			width: 32px;
			height: 32px;
			margin-top: 8px;
			fill: #3E454C;
		}
	}
}
.product {
	section {
		max-width: 100% !important;
		padding: 0px !important;
	}
}
.single-product-template {
	margin-top: 64px !important;
	margin-bottom: 50px !important;
	.product-detail {
		.title {
			font-weight: 500;
			font-size: 46px;
			line-height: 57px;
			letter-spacing: 0.2px;
			color: #3E454C;
		}
		.description {
			font-weight: 300;
			font-size: 14px;
			line-height: 22px;
			color: #3E454C;
			margin-bottom: 16px;
		}
		.product-price-section {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			margin-top: 24px;
			.price {
				display: flex;
				flex-direction: row;
				align-items: center;
				.product-price {
					font-size: 28px;
					line-height: 33px;
					letter-spacing: 0.2px;
					font-weight: 500;
					color: #3E454C;
					margin-bottom: 6px;
				}
				.product-sale-price {
					font-size: 18px;
					line-height: 27px;
					letter-spacing: 0.2px;
					text-decoration-line: line-through;
					color: #687582;
					margin-left: 8px;
					margin-right: 0;
					font-family: 'Montserrat', sans-serif;
					font-weight: 400;
				}
				.product-offer {
					font-weight: 400;
					font-size: 18px;
					line-height: 27px;
					letter-spacing: 0.2px;
					color: #FF5F7A;
					margin-left: 4px;
					white-space: nowrap;
				}
			}
			.add-to-cart {
				button {
					background: #FF5F7A;
					box-shadow: 0px 4px 71px rgba(0,0,0,0.1);
					border-radius: 26px;
					border: 0;
					padding: 18px 53px;
					font-weight: bold;
					font-size: 13px;
					line-height: 16px;
					letter-spacing: 2.5px;
					text-transform: uppercase;
					color: #FFFFFF;
					transition: all 0.4s ease-in;
					border: 1px solid #FF5F7A;
					cursor: pointer;
					height: auto;
					&:hover {
						color: #FF5F7A;
						border: 1px solid #FF5F7A;
						background-color: white;
					}
				}
			}
		}
		.product-size {
			display: flex;
			.option {
				+ {
					label {
						padding: 10px 15px;
						background: #FFFFFF;
						border: 1px solid #DDDDDD;
						box-sizing: border-box;
						border-radius: 44px;
						margin-right: 15px;
						font-weight: 300;
						font-size: 14px;
						line-height: 19px;
						color: #3E454C;
					}
				}
				&:checked {
					+ {
						label {
							background: #F5FEFF;
							border: 1px solid #07A5B5;
							color: #07A5B5;
							font-weight: 300;
						}
					}
				}
			}
		}
		.tag {
			display: flex;
			align-items: flex-start;
			.tag-icon {
				display: flex;
				align-items: center;
				flex-direction: column;
				padding: 0 34px;
				margin: 20px 0 0px;
				border-right: 1px solid #DDDDDD;
				&:last-of-type {
					border-right: 0;
				}
				.icon-img {
					width: 46px;
					height: 46px;
					object-fit: contain;
				}
				.icon-title {
					font-weight: 400;
					font-size: 12px;
					line-height: 14px;
					display: flex;
					align-items: center;
					text-align: center;
					color: #3E454C;
					padding-top: 11px;
					margin: 0;
					text-transform: capitalize;
				}
			}
		}
		.seperator {
			margin-top: 16px !important;
			margin-bottom: 16px !important;
		}
	}
	.responsive-image__wrapper {
		margin-left: auto;
		margin-right: auto;
		display: flex;
		justify-content: center;
	}
	ul.product-variant {
		display: flex;
		justify-content: space-evenly;
		align-items: baseline;
		margin-top: 42px;
		li {
			list-style-type: none;
			[aria-current="true"] {
				img {
					border: 2px solid #07A5B5;
					box-sizing: border-box;
					border-radius: 5px;
					padding: 6px;
					opacity: 1 !important;
					transition: all 0.2s ease-out;
				}
			}
			a {
				img.product-single__thumbnail-image {
					width: 46px;
					height: 46px;
					object-fit: contain;
					opacity: 0.4;
				}
			}
		}
		.variant.active {
			border: 2px solid #07A5B5;
			box-sizing: border-box;
			border-radius: 5px;
			padding: 6px;
		}
	}
	.product-highlight {
		background: rgba(7,165,181,0.08);
		padding: 50px 0;
		margin-top: 70px;
	}
	.product-detail-tags {
		max-width: 1024px !important;
		.icon-list {
			display: flex;
			align-items: center;
			justify-content: space-evenly;
			flex-wrap: wrap;
			.icon-box {
				width: 100px;
				text-align: center;
				.icon {
					background: #FFFFFF;
					width: 78px;
					height: 78px;
					border-radius: 50px;
					margin: auto;
				}
				.icon-tag {
					display: block;
					margin: auto;
					vertical-align: middle;
				}
				.icon-title {
					font-weight: 400;
					font-size: 12px;
					line-height: 14px;
					display: flex;
					align-items: center;
					text-align: center;
					justify-content: center;
					color: #3E454C;
					margin-top: 15px;
				}
			}
		}
	}
	.accordion {
		max-width: 1024px !important;
		margin: 70px auto 0;
		.product-accordion.accordion-bg {
			background: #F5FEFF;
			border-radius: 24px;
			margin-bottom: 100px;
			width: 940px;
			margin-left: auto;
			margin-right: auto;
		}
		.card {
			background: #F5FEFF;
			border: 0;
			border-bottom: 1px solid #dddddd;
			border-radius: 0;
			&:last-child {
				border-bottom: 0;
			}
		}
		.card-header {
			border-bottom: 0;
			background: #F5FEFF;
			padding: 1.25rem 1.25rem;
			margin-bottom: 0;
			.accordion-btn {
				font-weight: 500;
				font-size: 18px;
				line-height: 27px;
				display: flex;
				align-items: center;
				letter-spacing: 0.1px;
				color: #3E454C;
				width: 100%;
				background-color: transparent;
				white-space: normal;
				text-transform: capitalize;
				&:focus {
					outline: 0;
					border: 0;
					padding: 0 13px;
				}
				&:hover {
					outline: 0;
					border: 0;
					padding: 0 13px;
				}
				&:after {
					content: "\f067";
					font-size: 18px;
					color: #687582;
					font-family: 'FontAwesome';
					position: absolute;
					right: 30px;
					font-weight: 400;
					z-index: 99;
				}
			}
		}
		.card-title {
			margin-bottom: 0px;
		}
		.card-body {
			padding-left: 24px;
			padding-right: 24px;
			padding-top: 0px;
			font-size: 15px;
			line-height: 24px;
			letter-spacing: 0.2px;
			color: #3E454C;
			padding-bottom: 8px;
			table {
				td {
					border: 0;
					padding-top: 10px;
					display: inline-flex;
					align-items: center;
					padding: 10px 10px 0 0;
					div {
						display: flex;
						align-items: center;
						flex-direction: row;
						font-weight: 500;
						font-size: 15px;
						line-height: 18px;
						letter-spacing: 0.1px;
						color: #3E454C;
						margin-bottom: 0;
						img {
							margin-right: 16px !important;
						}
					}
				}
			}
		}
	}
	.faq {
		.product-faq {
			max-width: 940px !important;
			margin: 0 auto;
			background: #F5FEFF;
			border-radius: 24px;
			padding-top: 50px;
			padding-bottom: 30px;
			padding-left: 20px;
			padding-right: 20px;
			.header-title {
				.title {
					font-weight: 400;
					font-size: 18px;
					line-height: 27px;
					text-align: center;
					letter-spacing: 0.2px;
					color: #3E454C;
					span {
						font-size: 22px;
						line-height: 28px;
						font-weight: 500 !important;
						color: #3E454C;
					}
				}
			}
			.seperator {
				background: #07A5B5;
				margin-left: -20px;
				margin-right: -20px;
				margin-top: 30px;
				margin-bottom: 0px;
				border-top: 1px solid #07a5b5;
				border-bottom: 0;
			}
			.product-faq-content {
				padding-left: 30px;
				padding-right: 30px;
				margin: auto;
				width: auto;
				.card {
					background: #F5FEFF;
					padding: 1.25rem 0;
					margin-bottom: 0;
					border-bottom: 1px solid #dddddd;
					border-radius: 0;
					&:last-of-type {
						border-bottom: 0;
					}
					h4 {
						font-weight: 500;
						font-size: 18px;
						line-height: 27px;
						display: flex;
						align-items: center;
						letter-spacing: 0.1px;
						color: #3E454C;
						width: 100%;
						background-color: transparent;
						transition: all 0.3s linear;
						white-space: normal;
						margin-bottom: 0;
						padding: 6px 0;
						position: relative;
						z-index: 1;
						&:after {
							content: "\f067";
							font-size: 18px;
							color: #687582;
							font-family: 'FontAwesome';
							position: absolute;
							right: 0px;
							font-weight: 400;
							z-index: 99;
						}
					}
					h4.active {
						&:after {
							content: "\f068";
							z-index: 99;
						}
					}
				}
			}
		}
	}
}
.option {
	display: none;
}
.accordion {
	.card-header {
		.accordion-btn {
			&:not(.collapsed) {
				&::after {
					content: "\f068";
					z-index: 99;
				}
			}
		}
	}
}
.suggested-products {
	.title {
		font-weight: 500;
		font-size: 28px;
		line-height: 33px;
		letter-spacing: 0.2px;
		color: #3E454C;
		text-align: center;
	}
	.sub-title {
		font-size: 16px;
		line-height: 20px;
		font-weight: 400;
		letter-spacing: 0.2px;
		color: #687582;
		text-align: center;
		margin-bottom: 30px;
	}
	.product-card {
		background: #FFFFFF;
		box-shadow: 5px 6px 10px rgba(0,0,0,0.1);
		border-radius: 26px;
		width: 48%;
		padding: 0 0px 30px 0px;
		margin-bottom: 50px !important;
		list-style-type: none;
		.product-image-card {
			background: linear-gradient(270.17deg, #fff 1.03%, rgba(255,255,255,0) 99.94%),#FFF5E0;
			box-shadow: 0px -2px 30px rgba(0,0,0,0.1);
			border-radius: 24px 24px 100px 0px;
			height: 140px;
			margin-bottom: 15px;
			margin-top: 23px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			.product-img {
				position: relative;
				width: 45%;
				img {
					position: absolute;
					top: -94px;
					left: 0;
					right: 0;
					clip: rect(0px,200px,163px,0px);
				}
			}
			.product-tags {
				padding: 30px 0px 20px 15px;
				width: 52%;
				img {
					margin-right: 15px;
				}
				span {
					font-size: 15px;
					line-height: 24px;
					display: flex;
					align-items: center;
					letter-spacing: 0.2px;
					color: #3E454C;
					font-weight: 400;
					margin-bottom: 1rem;
					margin-left: 0;
				}
			}
		}
		.product-details {
			.product__title {
				font-weight: 500;
				font-size: 28px;
				line-height: 33px;
				letter-spacing: 0.2px;
				color: #3E454C;
				margin-bottom: 15px;
			}
		}
		.product-description {
			padding: 0 30px;
			.product-details {
				span {
					font-size: 12px;
					line-height: 15px;
					color: #687582;
					margin: 0;
					font-family: 'Montserrat', sans-serif;
				}
				margin-bottom: 15px;
				&:after {
					content: '';
					background: #DDDDDD;
					width: 65%;
					height: 0.5px;
					position: absolute;
					right: -20px;
					bottom: 10px;
				}
			}
		}
		.product__price {
			font-weight: 500;
			font-size: 22px;
			line-height: 28px;
			letter-spacing: 0.1px;
			color: #3E454C;
			margin-bottom: 6px;
		}
		.price-bar {
			display: flex;
			align-items: center;
			justify-content: space-between;
			.product-price {
				font-weight: 500;
				font-size: 22px;
				line-height: 28px;
				letter-spacing: 0.1px;
				color: #3E454C;
				margin-bottom: 6px;
			}
			.product-sale-price {
				font-size: 12px;
				line-height: 14px;
				text-decoration-line: line-through;
				color: #687582;
				margin-left: 0;
				margin-right: 6px;
				font-family: 'Montserrat', sans-serif;
				font-weight: 400;
			}
			.product-offer {
				font-size: 12px;
				line-height: 14px;
				color: #FF5F7A;
				white-space: nowrap;
			}
			.add-btn {
				border: 1px solid #FF5F7A;
				box-sizing: border-box;
				border-radius: 36px;
				cursor: pointer;
				display: inline-block;
				transition: all .5s;
				position: relative;
				overflow: hidden;
				z-index: 1;
				padding: 0 18px;
				position: relative;
				&:before {
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					width: 0%;
					height: 100%;
					background-color: #ff133a;
					transition: all .3s;
					border-radius: 10rem;
					z-index: -1;
				}
				&:after {
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-color: white;
					border-radius: 10rem;
					z-index: -2;
				}
				&:hover {
					&:before {
						width: 100%;
					}
					.btn-text {
						color: white;
					}
				}
				.btn-text {
					font-weight: 600;
					font-size: 20px;
					line-height: 48px;
					letter-spacing: 0.2px;
					color: #FF5F7A;
					background: transparent;
					border: 0;
					display: inline-block;
					height: auto;
					margin-bottom: 0;
					padding: 1px 6px;
				}
			}
		}
	}
	.product-recommendations {
		ul {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}
.customer-review {
	background: #FFF7F9;
	padding: 40px 50px;
	width: 940px !important;
	max-width: 940px !important;
	margin: 0 auto 70px;
	border-radius: 24px;
	position: relative;
	.spr-container {
		border: 0 !important;
	}
	.spr-review {
		border-top: 0 !important;
		width: 33.33%;
	}
	.spr-header-title {
		font-weight: 500;
		font-size: 28px;
		line-height: 33px;
		text-align: center;
		letter-spacing: 0.2px;
		color: #3E454C;
		margin: 30px 0px;
	}
	.spr-summary {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
	}
	.spr-summary-actions-newreview {
		font-weight: 500;
		font-size: 20px;
		line-height: 48px;
		letter-spacing: 0.2px;
		color: #FF5F7A;
		border: 0;
		background: transparent;
		margin-left: 50px;
		position: relative;
		cursor: pointer;
		display: block;
		&:hover {
			color: #FF5F7A;
		}
		&:after {
			content: "\f054";
			font-size: 10px;
			color: #FF5F7A;
			font-family: 'FontAwesome';
			position: absolute;
			top: 2px;
			right: -25px;
			font-weight: 300;
		}
	}
	.button {
		background: #fef7f9;
		border: 1px solid #ff5f7a;
		color: #ff5f7a;
	}
	.spr-icon {
		color: #ff5f7a;
		width: 13px;
		height: 13px;
		font-size: 12px;
		margin-left: 10px;
	}
}
.spr-reviews {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
.spr-form {
	border-color: #FF5F7A !important;
}
.spr-review-header-byline {
	font-weight: 400;
	font-size: 12px !important;
	line-height: 14px;
	color: #687582;
	margin: 0;
}
.spr-form-input-text {
	border-radius: 4px;
	border-color: #D0D0D0;
}
.spr-form-input-email {
	border-radius: 4px;
	border-color: #D0D0D0;
}
.spr-form-input-textarea {
	border-radius: 4px;
	border-color: #D0D0D0;
}
.spr-summary-actions-togglereviews {
	font-weight: 400;
	font-size: 15px;
	line-height: 24px;
	letter-spacing: 0.2px;
	color: #000000;
	font-family: 'Rubik', sans-serif;
	margin: 0 12px;
}
.slider {
	.slick-carousel {
		margin: 0 auto;
		width: 1000px;
	}
	.slick-slide {
		&:focus {
			outline: 0;
		}
	}
	.slide-arrow {
		width: 60px;
		height: 60px;
		background: #fff;
		border: 1px solid #ddd;
		box-sizing: border-box;
		border-radius: 49px;
		position: relative;
	}
	.slide-arrow.prev-arrow {
		position: absolute;
		right: -15px;
		top: 40%;
		z-index: 9;
		cursor: pointer;
		.fa-arrow-right {
			&:before {
				color: #07a5b5;
				font-size: 18px;
			}
		}
	}
	.slide-arrow.next-arrow {
		position: absolute;
		left: -15px;
		top: 40%;
		z-index: 9;
		cursor: pointer;
		.fa-arrow-left {
			&:before {
				color: #07a5b5;
				font-size: 18px;
			}
		}
	}
	.slide-arrow.slick-disabled {
		opacity: 0;
	}
	.slick-dots {
		display: flex;
		justify-content: center;
		margin: 0;
		padding: 1rem 0;
		list-style-type: none;
		width: 100%;
		li {
			margin: 0 0.25rem;
		}
		button {
			font-size: 0;
			width: 12px;
			height: 12px;
			padding: 0;
			border: none;
			border-radius: 100%;
			background-color: #687582;
			text-align: center;
			cursor: pointer;
			opacity: 0.3;
		}
		li.slick-active {
			button {
				background-color: #07a5b5;
				opacity: 1;
				&:focus {
					outline: 0;
				}
			}
		}
	}
	&:before {
		content: "";
		position: absolute;
		z-index: 1;
		width: 100px;
		top: 0;
		height: 100%;
		pointer-events: none;
		left: 0;
		background: linear-gradient(to right, #fff 60.19%, rgba(255, 255, 255, 0) 100%);
	}
	&:after {
		content: "";
		position: absolute;
		z-index: 1;
		width: 100px;
		top: 0;
		height: 100%;
		pointer-events: none;
		right: 0;
		background: linear-gradient(to left, #fff 60.19%, rgba(255, 255, 255, 0) 100%);
	}
}
.product-slider {
	.slick-slide {
		margin: 10px 5px 0 5px;
	}
	.slick-list {
		padding-left: 0 !important;
	}
	&:after {
		display: none;
	}
	&:before {
		display: none;
	}
}
.product-image-slider {
	.slide-arrow.prev-arrow {
		top: 45%;
		.fa-arrow-right {
			&:before {
				color: #3e454c;
				font-size: 18px;
			}
		}
	}
	.slide-arrow.next-arrow {
		top: 45%;
		.fa-arrow-left {
			&:before {
				color: #3e454c;
			}
		}
	}
	.slide-arrow.slick-disabled {
		opacity: 1;
	}
	.slide-arrow.slick-disabled.prev-arrow {
		.fa-arrow-right {
			&:before {
				color: #ddd;
			}
		}
	}
	.slide-arrow.slick-disabled.next-arrow {
		.fa-arrow-left {
			&:before {
				color: #ddd;
			}
		}
	}
	&:after {
		display: none;
	}
	&:before {
		display: none;
	}
}
.product-tag-slider {
	.slick-carousel {
		margin: 0 auto;
		width: 1000px;
	}
	.slick-list {
		padding-right: 0 !important;
	}
	.slick-slide {
		margin: 30px 15px 0 0;
		&:focus {
			outline: 0;
		}
	}
	.slick-dots {
		display: flex;
		justify-content: center;
		margin: 0;
		padding: 1rem 0;
		list-style-type: none;
		width: 100%;
		li {
			margin: 0 0.25rem;
		}
		button {
			font-size: 0;
			width: 12px;
			height: 12px;
			padding: 0;
			border: none;
			border-radius: 100%;
			background-color: #687582;
			text-align: center;
			cursor: pointer;
			opacity: 0.3;
		}
		li.slick-active {
			button {
				background-color: #07a5b5;
				opacity: 1;
			}
		}
	}
	&:before {
		display: none;
	}
	&:after {
		display: none;
	}
}
.card-slider {
	.slide-arrow {
		width: 55px;
		height: 55px;
	}
	.slide-arrow.prev-arrow {
		top: 13%;
		right: -15px;
		.fa-arrow-right {
			&:before {
				color: #07a5b4;
				font-size: 18px;
			}
		}
	}
	.slide-arrow.next-arrow {
		top: 13%;
		left: -15px;
		.fa-arrow-left {
			&:before {
				color: #07a5b4;
			}
		}
	}
	.slide-arrow.slick-disabled {
		opacity: 1;
	}
	.slide-arrow.slick-disabled.prev-arrow {
		.fa-arrow-right {
			&:before {
				color: #ddd;
			}
		}
	}
	.slide-arrow.slick-disabled.next-arrow {
		.fa-arrow-left {
			&:before {
				color: #ddd;
			}
		}
	}
	.card-block {
		background: #fff;
		border: 1px solid #c5def2;
		box-sizing: border-box;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 auto;
		padding: 24px;
		width: 225px !important;
		img {
			width: 50px;
			height: 50px;
			object-fit: contain;
		}
		.text-item {
			font-weight: 500;
			font-size: 20px;
			line-height: 48px;
			letter-spacing: 0.2px;
			color: #3e454c;
			margin-left: 10px;
			margin-bottom: 0;
			white-space: nowrap;
		}
	}
	.card-slider-block {
		background: #fff;
		border: 1px solid #c5def2;
		box-sizing: border-box;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 auto;
		padding: 24px;
		width: 190px !important;
		img {
			width: 50px;
			height: 50px;
			object-fit: contain;
		}
		.text-item {
			font-weight: 500;
			font-size: 20px;
			line-height: 48px;
			letter-spacing: 0.2px;
			color: #3e454c;
			margin-left: 10px;
			margin-bottom: 0;
			white-space: nowrap;
		}
	}
	.info-slider {
		margin-top: 50px;
	}
	.info-slider-card {
		margin-top: 50px;
	}
}
.testimonials-slider {
	.slick-list {
		padding-left: 0 !important;
	}
	.slide-arrow.prev-arrow {
		position: absolute;
		right: 30px;
		top: 40%;
		z-index: 9;
		cursor: pointer;
		.fa-arrow-right {
			&:before {
				color: #07a5b5;
				font-size: 18px;
			}
		}
	}
	.slide-arrow.next-arrow {
		position: absolute;
		left: 30px;
		top: 40%;
		z-index: 9;
		cursor: pointer;
		.fa-arrow-left {
			&:before {
				color: #07a5b5;
				font-size: 18px;
			}
		}
	}
	.slide-arrow.slick-disabled {
		opacity: 0;
	}
}
.tag-slider {
	.slick-list {
		padding-left: 0 !important;
	}
	.slide-arrow.prev-arrow {
		position: absolute;
		right: 30px;
		top: 40%;
		z-index: 9;
		cursor: pointer;
		.fa-arrow-right {
			&:before {
				color: #07a5b5;
				font-size: 18px;
			}
		}
	}
	.slide-arrow.next-arrow {
		position: absolute;
		left: 30px;
		top: 40%;
		z-index: 9;
		cursor: pointer;
		.fa-arrow-left {
			&:before {
				color: #07a5b5;
				font-size: 18px;
			}
		}
	}
	.slide-arrow.slick-disabled {
		opacity: 0;
	}
	&:after {
		display: none;
	}
	&:before {
		display: none;
	}
}
.articles-slider {
	&:after {
		display: none;
	}
	&:before {
		display: none;
	}
}
@media (min-width: 1200px) {
	.container {
		width: 1170px;
		max-width: 1170px;
	}
}
@media (min-width: 768px) {
	.header-section {
		.mobile-menu {
			display: none !important;
		}
		.close-icon {
			display: none !important;
		}
	}
	.menu-links-mobile {
		display: none !important;
	}
	.product-slider {
		.slick-slide {
			margin: 30px 15px 0 0;
		}
		&:after {
			display: block;
			right: 0;
			background: linear-gradient(to left, #fff 10.19%, rgba(255, 255, 255, 0) 100%);
		}
	}
	.card-slider {
		.card-slider-block {
			width: 225px !important;
		}
	}
}
@media (max-width: 767px) {
	.header-section {
		.account-links {
			display: none !important;
		}
		.mobile-menu {
			position: fixed;
			top: 0;
			left: -325px;
			width: 325px;
			background: white;
			height: 100vh;
			z-index: 6;
			overflow: auto;
			padding: 30px;
			transition: 0.4s ease-in;
			visibility: visible;
			display: block;
			box-shadow: 0px 4px 71px rgba(0, 0, 0, 0.1);
			.logo {
				img {
					width: 163px;
					height: auto;
					object-fit: contain;
				}
			}
			.menu-list-mobile {
				display: block !important;
				padding: 0 !important;
				top: auto;
				ul {
					flex-direction: column !important;
					margin-bottom: 0;
					li {
						width: 100% !important;
						border-bottom: 1px solid #DDDDDD;
						padding: 24px 30px;
						margin-bottom: 0;
						position: relative;
						a {
							font-weight: 500;
							font-size: 18px;
							line-height: 27px;
							letter-spacing: 0.1px;
							color: #3E454C !important;
							text-transform: capitalize;
						}
					}
					li.main-child-menu {
						&::after {
							content: url('https://cdn.shopify.com/s/files/1/0535/7941/5716/t/1/assets/plus.svg');
							font-size: 26px;
							color: #687582;
							font-family: 'FontAwesome';
							position: absolute;
							top: 19px;
							right: 30px;
							font-weight: 800;
							z-index: 99;
						}
					}
					li.main-child-menu.show {
						&::after {
							content: url('https://cdn.shopify.com/s/files/1/0535/7941/5716/t/1/assets/minus.svg');
							top: 12px;
						}
					}
				}
			}
		}
		.hamburger {
			background: transparent;
			padding: 0;
		}
		img.search {
			width: 22px;
			height: 22px;
			margin-left: 6px;
		}
		img.cart {
			width: 22px;
			height: 22px;
			margin-left: 6px;
		}
		img.user {
			width: 22px;
			height: 22px;
			margin-left: 6px;
		}
		.submenu {
			li.child-menu {
				border: 0 !important;
				padding: 20px 0 0 !important;
				a {
					font-weight: 100 !important;
					font-size: 18px;
					line-height: 27px;
					letter-spacing: 0.2px !important;
					color: #3E454C;
					&:after {
						display: none;
					}
				}
			}
		}
		.mweb-mobile-menu {
			.submenu {
				display: none;
			}
		}
		.overlay {
			background: rgba(0,0,0,0.7);
			display: none;
			width: 100%;
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			height: 100vh;
			z-index: 2;
		}
		.menu-links-mobile {
			border-bottom: 1px solid #DDDDDD;
			border-top: 1px solid #DDDDDD;
			padding: 24px 30px;
			margin-bottom: 0;
		}
		.menu-list {
			a.link {
				margin-bottom: 0px;
				font-weight: 500;
				font-size: 18px;
				line-height: 27px;
				letter-spacing: 0.1px;
				color: #3E454C;
			}
		}
		.account {
			font-weight: 500;
			font-size: 20px;
			line-height: 48px;
			letter-spacing: 0.2px;
			color: #3E454C;
			margin-top: 35px;
			padding-bottom: 20px;
			a {
				color: #3E454C;
			}
			img {
				margin-right: 12px;
				width: 24px;
				height: auto;
			}
		}
		.close-icon {
			position: absolute;
			z-index: 999;
			right: 15px;
			top: 26px;
			display: block;
			cursor: pointer;
			opacity: 0;
		}
		.menu-list-mobile {
			.static-menu {
				li.main-child-menu-static {
					>a {
						font-weight: 400 !important;
						font-size: 16px !important;
						line-height: 16px !important;
						letter-spacing: 2.5px !important;
						text-transform: uppercase !important;
						color: #687582 !important;
						font-family: 'Montserrat', sans-serif;
					}
				}
			}
		}
		.static-menu {
			li.main-child-menu-static {
				&:last-child {
					border-bottom: 0;
				}
			}
		}
		.submenu-static {
			li.child-menu-static {
				border-bottom: 0 !important;
				letter-spacing: 0.2px;
				color: #3E454C;
				padding: 9px 0 !important;
				a {
					font-weight: 500;
					font-size: 20px;
					line-height: 48px;
					letter-spacing: 0.2px;
					color: #3E454C;
				}
			}
			margin-top: 15px;
		}
		.account-details {
			margin-top: -15px;
			li {
				padding: 0 30px 15px !important;
				border-bottom: 0 !important;
			}
			.logout {
				margin: -4px 18px 0 0;
			}
		}
		.search-popup {
			padding: 20px;
		}
	}
	.menu-list {
		display: none !important;
	}
	.search-button {
		padding: 0 6px;
		margin-bottom: 0;
		&:focus {
			padding: 0 6px;
			margin-bottom: 0;
		}
	}
	footer.site-footer {
		padding: 7px 0 15px 0;
	}
	footer {
		.logo-section {
			flex-direction: column;
			.logo {
				width: 131px;
				height: 25px;
			}
		}
		.tag-line {
			display: none;
		}
		.tag-line-mobile {
			font-size: 12px;
			text-align: center;
			line-height: 30px;
			letter-spacing: 0.2px;
			color: #3E454C;
			margin-left: 0;
			font-family: 'Montserrat', sans-serif;
			margin-bottom: 0;
			display: block;
		}
		.site-footer__item {
			&:nth-child(1) {
				max-width: 50%;
			}
			&:nth-child(2) {
				max-width: 50%;
				order: 3;
				flex: 1 1 50%;
			}
			&:last-of-type {
				order: 1;
				flex: 1 1 100%;
			}
			&:first-of-type {
				order: 2;
				justify-content: center;
				margin-bottom: 0;
				flex: 1 1 50%;
			}
			&:nth-child(3) {
				order: 4;
				justify-content: center;
				text-align: center;
				margin-bottom: 0;
				font-weight: 500;
				font-size: 20px;
				line-height: 48px;
				letter-spacing: 0.2px;
				max-width: 100%;
			}
		}
		.site-footer__content {
			padding: 0;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
		}
		.site-footer__linklist {
			justify-content: center;
			margin-top: 34px;
		}
		.site-footer__linklist-item {
			text-align: center;
			margin: 0 20px;
			padding: 15px 0;
			a {
				white-space: normal;
				font-size: 20px;
			}
		}
		.site-footer__item-inner--newsletter {
			.h4 {
				text-align: center;
				margin-top: 0;
			}
		}
		.site-footer__rte {
			p {
				margin-bottom: 8px;
				font-size: 20px;
				line-height: 38px;
			}
			a {
				margin-bottom: 8px;
				font-size: 20px;
				line-height: 38px;
			}
		}
		.footer-submenu {
			li {
				margin-bottom: 27px;
			}
		}
		.site-footer-item-tall {
			.site-footer__icon-list {
				li {
					padding: 0 16px;
					line-height: 15px;
				}
				justify-content: center;
				margin-bottom: 30px;
			}
		}
		li.site-footer__linklist-item {
			margin-bottom: 0;
		}
		.disclaimer {
			text-align: left;
			padding: 0;
		}
	}
	.single-product-template {
		.product-detail {
			.title {
				font-size: 22px;
				line-height: 28px;
			}
			.product-price-section {
				.price {
					.product-price {
						font-size: 14px;
					}
					.product-sale-price {
						font-size: 15px;
						font-weight: 500;
					}
					align-items: baseline !important;
					.product-offer {
						font-size: 15px;
					}
				}
				flex-direction: column;
				.add-to-cart {
					button {
						width: 100%;
						margin-top: 20px;
						margin-bottom: 20px;
					}
				}
			}
			.product-size {
				.option {
					+ {
						label {
							font-weight: 600;
						}
					}
					&:checked {
						+ {
							label {
								font-weight: 600;
							}
						}
					}
				}
			}
			.tag {
				justify-content: center;
				.tag-icon {
					padding: 0 22px 8px;
					margin-bottom: 8px;
				}
			}
		}
		ul.product-variant {
			display: none !important;
		}
		.accordion {
			max-width: 100% !important;
			margin: 70px 20px 0;
			width: 100%;
			.product-accordion.accordion-bg {
				width: 100% !important;
				width: 100% !important;
			}
		}
		.product-highlight {
			width: 100%;
		}
		.faq {
			margin: 0 20px 40px;
			padding: 0;
			.product-faq {
				max-width: 100% !important;
				padding-left: 0 !important;
				padding-right: 0 !important;
				.product-faq-content {
					padding-left: 0 !important;
					padding-right: 0 !important;
					.card {
						padding-left: 15px !important;
						padding-right: 15px !important;
						h4 {
							text-align: left;
							padding-right: 36px !important;
							&:after {
								right: 0;
							}
						}
						.card-opened {
							margin-top: 13px;
							p {
								span {
									font-weight: 300 !important;
									font-size: 18px !important;
									line-height: 27px;
								}
							}
						}
					}
				}
				.seperator {
					margin-left: 0 !important;
					margin-right: 0 !important;
				}
			}
		}
	}
	.suggested-products {
		.product-card {
			width: 100% !important;
		}
		.product-recommendations {
			ul {
				display: block !important;
			}
		}
	}
	.customer-review {
		margin-left: 20px !important;
		margin-right: 20px !important;
		.spr-summary-actions-newreview {
			margin-left: 0;
		}
		.spr-icon {
			color: #ff5f7a;
			width: 13px;
			height: 13px;
			font-size: 12px;
			margin-left: 5px;
		}
		.spr-review {
			border-top: 1px solid #ff5f7a !important;
			width: 100% !important;
		}
	}
	.slider {
		.slick-slide.product-card {
			margin: 30px 10px;
			.product-price {
				font-size: 14px;
				line-height: 22px;
				text-align: center;
			}
		}
	}
	.product-slider {
		.slick-slide.product-card {
			margin: 30px 15px;
		}
		padding: 0;
	}
	.product-image-slider {
		.slide-arrow.slick-disabled {
			background: transparent;
			border: 0;
			width: 20px;
			height: 20px;
		}
		.slide-arrow {
			background: transparent;
			border: 0;
			width: 20px;
			height: 20px;
		}
	}
	.product-tag-slider {
		.slick-dots {
			position: absolute;
			bottom: -100px;
		}
	}
	.card-slider {
		.slide-arrow.slick-disabled {
			background: transparent;
			border: 0;
			width: 20px;
			height: 20px;
		}
		.slide-arrow {
			background: transparent;
			border: 0;
			width: 20px;
			height: 20px;
		}
		.card-block {
			.text-item-nutrients {
				font-weight: 300;
				font-size: 14px;
				line-height: 48px;
				letter-spacing: 0.2px;
				color: #3e454c;
				margin-right: 10px;
			}
			flex-direction: column;
			width: 115px !important;
		}
		.card-slider-block {
			.text-item-nutrients {
				font-weight: 300;
				font-size: 14px;
				line-height: 48px;
				letter-spacing: 0.2px;
				color: #3e454c;
				margin-right: 10px;
			}
			flex-direction: column;
		}
		.info-slider {
			&:after {
				display: none;
			}
			&:before {
				display: none;
			}
		}
		.info-slider-card {
			&:after {
				display: none;
			}
			&:before {
				display: none;
			}
		}
	}
}
@media (max-width: 1099px) {
	footer {
		.site-footer__item-inner--newsletter {
			.input-group {
				flex-direction: column;
			}
			.newsletter__input {
				background: #FFFFFF;
				border: 1px solid #D0D0D0;
				box-sizing: border-box;
				border-radius: 26px;
				-ms-flex-preferred-size: 0;
				-webkit-flex-basis: 0;
				-moz-flex-basis: 0;
				flex-basis: 0;
				padding: 25px 28px;
				font-size: 15px;
				line-height: 24px;
				letter-spacing: 0.2px;
				color: #687582;
			}
			.newsletter__submit {
				background: #07A5B5;
				box-shadow: 0px 4px 71px rgba(0, 0, 0, 0.1);
				border-radius: 26px;
				height: auto;
				min-height: 46px;
				margin-top: 5px;
			}
		}
		.input-group__btn {
			margin-top: 8px;
			width: 100%;
		}
	}
}
@media screen and (min-width: 40.1em) {
	.product {
		section {
			>div {
				-ms-flex-preferred-size: 100% !important;
				flex-basis: 100% !important;
			}
		}
	}
}
@media (max-width: 992px) {
	.single-product-template {
		.accordion {
			.product-accordion.accordion-bg {
				width: 100% !important;
			}
		}
	}
}
@media (max-width: 991px) {
	.testimonials-slider {
		&:after {
			display: none;
		}
		&:before {
			display: none;
		}
	}
	.tag-slider {
		&:after {
			display: none;
		}
		&:before {
			display: none;
		}
	}
}
